<script type="text/javascript">

</script>

<div class="ui modal fullscreen" id="batch{{module|capitalize}}" style="zoom: 0.9;">
	<i class="close icon"></i>
	<div class="header">
		Pesagem de produção
	</div>

	<div class="content">
{# 
		<textarea name="" id="" cols="30" rows="10"><% entities | json %></textarea> #}

		<table class="ui selectable olive compact celled definition table">
			
			<thead>
				<tr>
					<th class="one wide"></th>
					<th class="one wide">Ticket</th>
					<th class="one wide">Silo</th>
					<th class="one wide">Motorista</th>
					{#<th class="one wide center aligned"></th> #}
				</tr>
			</thead>
			<tbody>

			<tr v-for="entity in entities | filterBy searchKey | paginate" style="cursor: pointer;">
				<td class="center aligned" v-on:dblclick="show(entity.id, $event)"><%entity.id%></td>
				<td> {{ macros.vInput('', '', 'entity.id_pesagem', 'text', '', 'two') }} </td>
				<td>

			        <select v-model="entity.id_silo">
			            <template v-for="siloEntity in Silo" >
							<option value="<%siloEntity.id%>"> <%siloEntity.descr%> </option>
			            </template>
			        </select>

				</td>
				<td> {{ macros.vInput('', '', 'entity.nome_motorista', 'text', '', 'two') }} </td>
				{#<td class="center aligned">
					<button class="mini ui red compact icon button" v-on:click="delete(entity, $event)">
						<i class="remove icon"></i>
					</button>
				</td> #}
			</tr>

		  </tbody>
		  <tfoot class="full-width">
			<tr>
				<th colspan="60">

					<div class="ui right floated pagination menu">
						<a class="icon item"><i class="left chevron icon"></i></a>
						<a v-for="pageNumber in totalPages" class="item"  href="#" v-on:click="setPage(pageNumber)"><% pageNumber + 1 %></a>
						<a class="icon item">
						<i class="right chevron icon"></i></a>
					</div>
				</th>
			</tr>

		  </tfoot>
		</table>

	</div>

	<div class="actions">
		<div class="ui black deny button" v-on:click="cancel($event)">
			Cancelar
		</div>
		<div class="ui positive right labeled icon button" v-on:click="create($event)">
			Salvar <i class="checkmark icon"></i>
		</div>
	</div>

</div>