<script type="text/javascript">
	executes.onShow.push(
		function(self){
            // SET THE SELECT VALUES
            $('#id_fazenda').dropdown('set selected',[ self.$get('newEntity.id_fazenda') ]);
		}
	);

	executes.onCreate.push(
		function(entity){
			// WORKAROUND
			entity.id_fazenda = $('#id_fazenda').val();
		}
	);	

</script>
<div class="ui modal small" id="add{{module|capitalize}}">
	<i class="close icon"></i>
	<div class="header">
		Mão de obra
	</div>

	<div class="content">

	<form action="#" @submit.prevent="AddNewUser" method="POST" class="ui form">
			
		<div class="fields">
			{{ macros.vSelect('id_fazenda', 'Fazenda', '', 'six', 'Fazenda', 'id', 'nome') }}
			{{ macros.vInput('nome', 'Talhão', 'newEntity.nome', 'text', 'Talhão', 'five') }}
			{{ macros.vInput('area', 'Área do talhão', 'newEntity.area', 'text', 'Área do talhão', 'five') }}
		</div>
			
		<div class="fields">
			<div class="sixteen wide field">
				<label>GeoJson</label>
				<textarea rows="2" v-model="newEntity.geojson" id="newEntity.geojson" name="newEntity.geojson"></textarea>
			</div>
		</div>

	</form>

	</div>
	  <div class="actions">
		<div class="ui black deny button" v-on:click="cancel($event)">
		  Cancelar
		</div>
		<div class="ui positive right labeled icon button" v-on:click="create($event)">
		  Salvar
		  <i class="checkmark icon"></i>
		</div>
	  </div>
</div>