<script type="text/javascript">
	executes.onShow.push(
		function(self){
            // SET THE SELECT VALUES
            // $('#id_tipo_maquina').dropdown('set selected',[ self.$get('newEntity.id_tipo_maquina') ]);
            // $('#id_maquina_status').dropdown('set selected',[ self.$get('newEntity.id_maquina_status') ]);
            // $('#id_fazenda').dropdown('set selected',[ self.$get('newEntity.id_fazenda') ]);
		}
	);

	executes.onCreate.push(
		function(entity){
			// WORKAROUND
			// entity.id_tipo_maquina = $('#id_tipo_maquina').val();
			// entity.id_maquina_status = $('#id_maquina_status').val();
			// entity.id_fazenda = $('#id_fazenda').val();
		}
	);	

</script>
<div class="ui modal small" id="add{{module|capitalize}}">
	<i class="close icon"></i>
	<div class="header">
		{{module|capitalize}}
	</div>

	<div class="content">

	<form action="#" @submit.prevent="AddNewUser" method="POST" class="ui form">
			
		<div class="fields">
			{{ macros.vInput('descr', 'Tipo', 'newEntity.descr', 'text', 'Tipo', 'sixteen') }}
		</div>

	</form>

	</div>
	  <div class="actions">
		<div class="ui black deny button" v-on:click="cancel($event)">
		  Cancelar
		</div>
		<div class="ui positive right labeled icon button" v-on:click="create($event)">
		  Salvar
		  <i class="checkmark icon"></i>
		</div>
	  </div>
</div>