<div class="ui small basic test modal" id="deleteConfirmation">
	<div class="ui icon header">
	  <i class="erase icon"></i>
	  Remover registro
	</div>
	<div class="content">
	  <p>Deseja realmente excluir este registro?</p>
	</div>
	<div class="actions">
	  <div class="ui red basic cancel inverted button">
	    <i class="remove icon"></i>
	    Não
	  </div>
	  <div class="ui green ok inverted button">
	    <i class="checkmark icon"></i>
	    Sim
	  </div>
	</div>
</div>