<html>
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="{{baseUrl()}}/css/rel.css" type="text/css" />
		<title></title>
	</head>
	<body class="container">
		 {% block content %} {% endblock %}
	</body>
</html>